.cours{
  @include margin-pading(3.125rem,auto,0,auto);
}
.pipe {
  width: 87rem;
  background: rgba(140,124,229,.08);
  left: -30px;
  height: 25rem;
  top: 6.2rem;
  z-index: -1;
  border-radius: 0 15.6rem 15.6rem 0;
}
.course{
  @include margin-pading(1.5rem,auto,1.5rem,auto);
  background-color: #fff;
  position: relative;
  border-bottom: 4px solid red;
  border-radius: 0 0 5px 5px;
  transition: box-shadow 1s ease;
  cursor: pointer;
  box-sizing: border-box;
   &:hover .teacher {
    top: -3.37rem;
  }
  &:hover .teacher-name {
    width: 12.5rem;
    right: 3.75rem;
  }
  &:hover {
    box-shadow: 0 0 13px 0 rgba(95, 95, 95, 0.5);
  }
  .status {
    position: absolute;
    font-size: .8rem;
    left: 0.6rem;
    top: 0.6rem;
    background: rgba(46, 125, 222, 50%);
    color: #fff;
    @include margin-pading(2px,6px, 2px ,6px,false);
    border-radius: 2px;
  }
  .teacher {
    position: absolute;
    top: -2.1rem;
    right: 0;
    width: 3.3rem;
    z-index: -1;
    border-radius: 2rem 2rem 0 0;
    transition: all 1s ease;
  }
  .teacher-name {
    position: absolute;
    top: -1.87rem;
    right: 13px;
    font-size: 0.8rem;
    z-index: -2;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s ease;
  }
  .thumb {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100vh;
      height: 100vh;
    }
  }
  a {
    @include margin-pading(0.62rem, 0.62rem, 0.62rem , 0.62rem);
    font-size: 1.1rem;
    color: $font-color;
  }
  .meta {
    @include flex(flex,null,null);
    font-size: 0.87rem;
    @include margin-pading(0, 0.62rem, 0 , 0.62rem);
    border-top: 1px solid #efefef;
    @include margin-pading(1rem, 0, 0.75rem, 0,false);
    span:nth-child(1) {
      margin-left: auto;
      i {
        color: #45a1ff;
        margin-left: 3px;
      }
    }
    span:nth-child(2) {
      @include margin-pading(0, 0.5rem, 0, 0.5rem,false);
      border-radius: 5px;
      color: #37b537;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    }
  }
}