#header{
  header{
    height: 85vh;
    @include margin-pading(100px , 0 , 0 ,0);
    @include flex(flex , space-between , flex-start);
    .right{
      @include flex(flex , null ,null);
      position: relative;
      .gear-1{
        position: absolute;
        top: 0.5rem;
        right: 2.2rem;
        font-size: 2.4rem;
        color: $grey-header-color;
        animation: gear-1 13s infinite linear;
        @keyframes gear-1 {
          100%{
            transform: rotate(360deg);
          }
        }
      }
      .gear-2{
        position: absolute;
        top: -0.4rem;
        right: 1.4rem;
        font-size: 1.35rem;
        color: rgb(78, 78, 78);
        animation: gear-2 13s infinite linear;
        @keyframes gear-2 {
          100%{
            transform: rotate(-360deg);
          }
        }
      }
      .sq-1{
        position: absolute;
        top: 0;
        left: 5rem;
        width: 1.25rem;
        height: 1.25rem;
        border: 4px solid #efefef;
        font-size: 1.25rem;
        color: $blue-color;
        animation: sq-1 15s infinite linear;
        @keyframes sq-1 {
          100% {
            transform: rotate(-360deg);
          }
        }
      }
      .sq-2 {
        position: absolute;
        bottom: -1.25rem;
        left: 8rem;
        width: 2.5rem;
        height: 2.5rem;
        border: 4px solid #ff7373;
        font-size: 1.25rem;
        animation: sq-2 40s infinite linear;
        @keyframes sq-2 {
          100% {
            transform: rotate(360deg);
          }
        }
      }
      .sq-3 {
        position: absolute;
        bottom: 0;
        right: 5rem;
        width: 1.9rem;
        height: 1.9rem;
        border: 4px solid #efefef;
        font-size: 1.25rem;
        animation: sq-3 7s infinite linear;
        @keyframes sq-3 {
          100% {
            transform: rotate(-360deg);
          }
        }
      }
    }
    .left{
      @include margin-pading(0 , 0, 0, 1.2rem);
      h1{
        font-size: 1.7rem;
        color: #000;
      }
      p{
        color: $font-color;
      }
    }
  }
}