@font-face {
  font-family: IRANSans;
  src: url(../fonts/IRANSansWeb_FaNum_Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: IRANSans;
  src: url(../fonts/IRANSansWeb_FaNum.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: IRANSans;
  src: url(../fonts/IRANSansWeb.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: IRANSans;
  src: url(../fonts/IRANSansWeb_Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: IRANSans;
  src: url(../fonts/IRANSansWeb_Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}
html, body {
  direction: rtl;
  font-size: 100%;
  box-sizing: border-box;
  font-family: IRANSans, serif;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

.container {
  clear: both;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.hidden {
  display: none;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.col-offset-1 {
  margin-right: 8.3333333333%;
}

.col-offset-2 {
  margin-right: 16.6666666667%;
}

.col-offset-3 {
  margin-right: 25%;
}

.col-offset-4 {
  margin-right: 33.3333333333%;
}

.col-offset-5 {
  margin-right: 41.6666666667%;
}

.col-offset-6 {
  margin-right: 50%;
}

.col-offset-7 {
  margin-right: 58.3333333333%;
}

.col-offset-8 {
  margin-right: 66.6666666667%;
}

.col-offset-9 {
  margin-right: 75%;
}

.col-offset-10 {
  margin-right: 83.3333333333%;
}

.col-offset-11 {
  margin-right: 91.6666666667%;
}

.col-offset-12 {
  margin-right: 100%;
}

@media only screen and (max-width: 790px) {
  .container {
    max-width: 770px;
  }

  .s-hidden {
    display: none;
  }

  .col-s-1 {
    width: 8.3333333333%;
  }

  .col-s-2 {
    width: 16.6666666667%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.3333333333%;
  }

  .col-s-5 {
    width: 41.6666666667%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.3333333333%;
  }

  .col-s-8 {
    width: 66.6666666667%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.3333333333%;
  }

  .col-s-11 {
    width: 91.6666666667%;
  }

  .col-s-12 {
    width: 100%;
  }

  .col-s-offset-1 {
    margin-right: 8.3333333333%;
  }

  .col-s-offset-2 {
    margin-right: 16.6666666667%;
  }

  .col-s-offset-3 {
    margin-right: 25%;
  }

  .col-s-offset-4 {
    margin-right: 33.3333333333%;
  }

  .col-s-offset-5 {
    margin-right: 41.6666666667%;
  }

  .col-s-offset-6 {
    margin-right: 50%;
  }

  .col-s-offset-7 {
    margin-right: 58.3333333333%;
  }

  .col-s-offset-8 {
    margin-right: 66.6666666667%;
  }

  .col-s-offset-9 {
    margin-right: 75%;
  }

  .col-s-offset-10 {
    margin-right: 83.3333333333%;
  }

  .col-s-offset-11 {
    margin-right: 91.6666666667%;
  }

  .col-s-offset-12 {
    margin-right: 100%;
  }
}
@media only screen and (min-width: 791px) and (max-width: 991px) {
  .container {
    max-width: 971px;
  }

  .md-hidden {
    display: none;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-offset-1 {
    margin-right: 8.3333333333%;
  }

  .col-md-offset-2 {
    margin-right: 16.6666666667%;
  }

  .col-md-offset-3 {
    margin-right: 25%;
  }

  .col-md-offset-4 {
    margin-right: 33.3333333333%;
  }

  .col-md-offset-5 {
    margin-right: 41.6666666667%;
  }

  .col-md-offset-6 {
    margin-right: 50%;
  }

  .col-md-offset-7 {
    margin-right: 58.3333333333%;
  }

  .col-md-offset-8 {
    margin-right: 66.6666666667%;
  }

  .col-md-offset-9 {
    margin-right: 75%;
  }

  .col-md-offset-10 {
    margin-right: 83.3333333333%;
  }

  .col-md-offset-11 {
    margin-right: 91.6666666667%;
  }

  .col-md-offset-12 {
    margin-right: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 1179px;
  }

  .l-hidden {
    display: none;
  }

  .col-l-1 {
    width: 8.3333333333%;
  }

  .col-l-2 {
    width: 16.6666666667%;
  }

  .col-l-3 {
    width: 25%;
  }

  .col-l-4 {
    width: 33.3333333333%;
  }

  .col-l-5 {
    width: 41.6666666667%;
  }

  .col-l-6 {
    width: 50%;
  }

  .col-l-7 {
    width: 58.3333333333%;
  }

  .col-l-8 {
    width: 66.6666666667%;
  }

  .col-l-9 {
    width: 75%;
  }

  .col-l-10 {
    width: 83.3333333333%;
  }

  .col-l-11 {
    width: 91.6666666667%;
  }

  .col-l-12 {
    width: 100%;
  }

  .col-l-offset-1 {
    margin-right: 8.3333333333%;
  }

  .col-l-offset-2 {
    margin-right: 16.6666666667%;
  }

  .col-l-offset-3 {
    margin-right: 25%;
  }

  .col-l-offset-4 {
    margin-right: 33.3333333333%;
  }

  .col-l-offset-5 {
    margin-right: 41.6666666667%;
  }

  .col-l-offset-6 {
    margin-right: 50%;
  }

  .col-l-offset-7 {
    margin-right: 58.3333333333%;
  }

  .col-l-offset-8 {
    margin-right: 66.6666666667%;
  }

  .col-l-offset-9 {
    margin-right: 75%;
  }

  .col-l-offset-10 {
    margin-right: 83.3333333333%;
  }

  .col-l-offset-11 {
    margin-right: 91.6666666667%;
  }

  .col-l-offset-12 {
    margin-right: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }

  .xl-hidden {
    display: none;
  }

  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-2 {
    width: 16.6666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-5 {
    width: 41.6666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }

  .col-xl-offset-1 {
    margin-right: 8.3333333333%;
  }

  .col-xl-offset-2 {
    margin-right: 16.6666666667%;
  }

  .col-xl-offset-3 {
    margin-right: 25%;
  }

  .col-xl-offset-4 {
    margin-right: 33.3333333333%;
  }

  .col-xl-offset-5 {
    margin-right: 41.6666666667%;
  }

  .col-xl-offset-6 {
    margin-right: 50%;
  }

  .col-xl-offset-7 {
    margin-right: 58.3333333333%;
  }

  .col-xl-offset-8 {
    margin-right: 66.6666666667%;
  }

  .col-xl-offset-9 {
    margin-right: 75%;
  }

  .col-xl-offset-10 {
    margin-right: 83.3333333333%;
  }

  .col-xl-offset-11 {
    margin-right: 91.6666666667%;
  }

  .col-xl-offset-12 {
    margin-right: 100%;
  }
}
#menu nav.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
#menu nav.navbar ul {
  margin: 0 1.5rem 0 0;
  padding: 0 0 0 0;
}
#menu nav.navbar ul li {
  display: inline-block;
  margin: 0 1rem 0 0;
  position: relative;
  line-height: 60px;
}
#menu nav.navbar ul li::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #3672e4;
  transition: 0.5s ease;
}
#menu nav.navbar ul li:hover::after {
  width: 100%;
}
#menu nav.navbar ul li:hover a {
  color: #3672e4;
}
#menu nav.navbar ul li a {
  transition: 0.5s ease;
  color: #2e2e2e;
}
#menu span.social-icon {
  margin: 0 0 0 1.5rem;
  padding-top: 21px;
  direction: ltr;
}
#menu span.social-icon a {
  font-size: 1.1rem;
  color: #2e2e2e;
  margin: 0 0 0 1rem;
  transition: color 0.3s ease;
}
#menu span.social-icon a:hover {
  color: #3672e4;
}
#header header {
  height: 85vh;
  margin: 100px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#header header .right {
  display: flex;
  position: relative;
}
#header header .right .gear-1 {
  position: absolute;
  top: 0.5rem;
  right: 2.2rem;
  font-size: 2.4rem;
  color: #6b6b6b;
  animation: gear-1 13s infinite linear;
}
@keyframes gear-1 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .right .gear-2 {
  position: absolute;
  top: -0.4rem;
  right: 1.4rem;
  font-size: 1.35rem;
  color: #4e4e4e;
  animation: gear-2 13s infinite linear;
}
@keyframes gear-2 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .right .sq-1 {
  position: absolute;
  top: 0;
  left: 5rem;
  width: 1.25rem;
  height: 1.25rem;
  border: 4px solid #efefef;
  font-size: 1.25rem;
  color: #3672e4;
  animation: sq-1 15s infinite linear;
}
@keyframes sq-1 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .right .sq-2 {
  position: absolute;
  bottom: -1.25rem;
  left: 8rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 4px solid #ff7373;
  font-size: 1.25rem;
  animation: sq-2 40s infinite linear;
}
@keyframes sq-2 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .right .sq-3 {
  position: absolute;
  bottom: 0;
  right: 5rem;
  width: 1.9rem;
  height: 1.9rem;
  border: 4px solid #efefef;
  font-size: 1.25rem;
  animation: sq-3 7s infinite linear;
}
@keyframes sq-3 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .left {
  margin: 0 0 0 1.2rem;
}
#header header .left h1 {
  font-size: 1.7rem;
  color: #000;
}
#header header .left p {
  color: #2e2e2e;
}