html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: IRANSans;
  src: url(../fonts/IRANSansWeb_FaNum_Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: IRANSans;
  src: url(../fonts/IRANSansWeb_FaNum.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: IRANSans;
  src: url(../fonts/IRANSansWeb.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: IRANSans;
  src: url(../fonts/IRANSansWeb_Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: IRANSans;
  src: url(../fonts/IRANSansWeb_Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}
html, body {
  direction: rtl;
  font-size: 100%;
  box-sizing: border-box;
  font-family: IRANSans, serif;
  margin: 0;
  padding: 0;
}

.mt-100 {
  padding: 6.25rem 0 0 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

.container {
  clear: both;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.hidden {
  display: none;
}

.col-1 {
  width: 8%;
}

.col-2 {
  width: 16%;
}

.col-3 {
  width: 24%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40%;
}

.col-6 {
  width: 48%;
}

.col-7 {
  width: 56%;
}

.col-8 {
  width: 64%;
}

.col-9 {
  width: 72%;
}

.col-10 {
  width: 80%;
}

.col-11 {
  width: 88%;
}

.col-12 {
  width: 96%;
}

.col-offset-1 {
  margin-right: 8%;
}

.col-offset-2 {
  margin-right: 16%;
}

.col-offset-3 {
  margin-right: 24%;
}

.col-offset-4 {
  margin-right: 32%;
}

.col-offset-5 {
  margin-right: 40%;
}

.col-offset-6 {
  margin-right: 48%;
}

.col-offset-7 {
  margin-right: 56%;
}

.col-offset-8 {
  margin-right: 64%;
}

.col-offset-9 {
  margin-right: 72%;
}

.col-offset-10 {
  margin-right: 80%;
}

.col-offset-11 {
  margin-right: 88%;
}

.col-offset-12 {
  margin-right: 96%;
}

@media only screen and (max-width: 790px) {
  .container {
    max-width: 770px;
  }

  .s-hidden {
    display: none;
  }

  .col-s-1 {
    width: 8%;
  }

  .col-s-2 {
    width: 16%;
  }

  .col-s-3 {
    width: 24%;
  }

  .col-s-4 {
    width: 32%;
  }

  .col-s-5 {
    width: 40%;
  }

  .col-s-6 {
    width: 48%;
  }

  .col-s-7 {
    width: 56%;
  }

  .col-s-8 {
    width: 64%;
  }

  .col-s-9 {
    width: 72%;
  }

  .col-s-10 {
    width: 80%;
  }

  .col-s-11 {
    width: 88%;
  }

  .col-s-12 {
    width: 96%;
  }

  .col-s-offset-1 {
    margin-right: 8%;
  }

  .col-s-offset-2 {
    margin-right: 16%;
  }

  .col-s-offset-3 {
    margin-right: 24%;
  }

  .col-s-offset-4 {
    margin-right: 32%;
  }

  .col-s-offset-5 {
    margin-right: 40%;
  }

  .col-s-offset-6 {
    margin-right: 48%;
  }

  .col-s-offset-7 {
    margin-right: 56%;
  }

  .col-s-offset-8 {
    margin-right: 64%;
  }

  .col-s-offset-9 {
    margin-right: 72%;
  }

  .col-s-offset-10 {
    margin-right: 80%;
  }

  .col-s-offset-11 {
    margin-right: 88%;
  }

  .col-s-offset-12 {
    margin-right: 96%;
  }
}
@media only screen and (min-width: 791px) and (max-width: 991px) {
  .container {
    max-width: 971px;
  }

  .md-hidden {
    display: none;
  }

  .col-md-1 {
    width: 8%;
  }

  .col-md-2 {
    width: 16%;
  }

  .col-md-3 {
    width: 24%;
  }

  .col-md-4 {
    width: 32%;
  }

  .col-md-5 {
    width: 40%;
  }

  .col-md-6 {
    width: 48%;
  }

  .col-md-7 {
    width: 56%;
  }

  .col-md-8 {
    width: 64%;
  }

  .col-md-9 {
    width: 72%;
  }

  .col-md-10 {
    width: 80%;
  }

  .col-md-11 {
    width: 88%;
  }

  .col-md-12 {
    width: 96%;
  }

  .col-md-offset-1 {
    margin-right: 8%;
  }

  .col-md-offset-2 {
    margin-right: 16%;
  }

  .col-md-offset-3 {
    margin-right: 24%;
  }

  .col-md-offset-4 {
    margin-right: 32%;
  }

  .col-md-offset-5 {
    margin-right: 40%;
  }

  .col-md-offset-6 {
    margin-right: 48%;
  }

  .col-md-offset-7 {
    margin-right: 56%;
  }

  .col-md-offset-8 {
    margin-right: 64%;
  }

  .col-md-offset-9 {
    margin-right: 72%;
  }

  .col-md-offset-10 {
    margin-right: 80%;
  }

  .col-md-offset-11 {
    margin-right: 88%;
  }

  .col-md-offset-12 {
    margin-right: 96%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 1179px;
  }

  .l-hidden {
    display: none;
  }

  .col-l-1 {
    width: 8%;
  }

  .col-l-2 {
    width: 16%;
  }

  .col-l-3 {
    width: 24%;
  }

  .col-l-4 {
    width: 32%;
  }

  .col-l-5 {
    width: 40%;
  }

  .col-l-6 {
    width: 48%;
  }

  .col-l-7 {
    width: 56%;
  }

  .col-l-8 {
    width: 64%;
  }

  .col-l-9 {
    width: 72%;
  }

  .col-l-10 {
    width: 80%;
  }

  .col-l-11 {
    width: 88%;
  }

  .col-l-12 {
    width: 96%;
  }

  .col-l-offset-1 {
    margin-right: 8%;
  }

  .col-l-offset-2 {
    margin-right: 16%;
  }

  .col-l-offset-3 {
    margin-right: 24%;
  }

  .col-l-offset-4 {
    margin-right: 32%;
  }

  .col-l-offset-5 {
    margin-right: 40%;
  }

  .col-l-offset-6 {
    margin-right: 48%;
  }

  .col-l-offset-7 {
    margin-right: 56%;
  }

  .col-l-offset-8 {
    margin-right: 64%;
  }

  .col-l-offset-9 {
    margin-right: 72%;
  }

  .col-l-offset-10 {
    margin-right: 80%;
  }

  .col-l-offset-11 {
    margin-right: 88%;
  }

  .col-l-offset-12 {
    margin-right: 96%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }

  .xl-hidden {
    display: none;
  }

  .col-xl-1 {
    width: 8%;
  }

  .col-xl-2 {
    width: 16%;
  }

  .col-xl-3 {
    width: 24%;
  }

  .col-xl-4 {
    width: 32%;
  }

  .col-xl-5 {
    width: 40%;
  }

  .col-xl-6 {
    width: 48%;
  }

  .col-xl-7 {
    width: 56%;
  }

  .col-xl-8 {
    width: 64%;
  }

  .col-xl-9 {
    width: 72%;
  }

  .col-xl-10 {
    width: 80%;
  }

  .col-xl-11 {
    width: 88%;
  }

  .col-xl-12 {
    width: 96%;
  }

  .col-xl-offset-1 {
    margin-right: 8%;
  }

  .col-xl-offset-2 {
    margin-right: 16%;
  }

  .col-xl-offset-3 {
    margin-right: 24%;
  }

  .col-xl-offset-4 {
    margin-right: 32%;
  }

  .col-xl-offset-5 {
    margin-right: 40%;
  }

  .col-xl-offset-6 {
    margin-right: 48%;
  }

  .col-xl-offset-7 {
    margin-right: 56%;
  }

  .col-xl-offset-8 {
    margin-right: 64%;
  }

  .col-xl-offset-9 {
    margin-right: 72%;
  }

  .col-xl-offset-10 {
    margin-right: 80%;
  }

  .col-xl-offset-11 {
    margin-right: 88%;
  }

  .col-xl-offset-12 {
    margin-right: 96%;
  }
}
#menu nav.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
#menu nav.navbar ul {
  margin: 0 1.5rem 0 0;
  padding: 0 0 0 0;
}
#menu nav.navbar ul li {
  display: inline-block;
  margin: 0 1rem 0 0;
  position: relative;
  line-height: 60px;
}
#menu nav.navbar ul li::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #3672e4;
  transition: 0.5s ease;
}
#menu nav.navbar ul li:hover::after {
  width: 100%;
}
#menu nav.navbar ul li:hover a {
  color: #3672e4;
}
#menu nav.navbar ul li a {
  font-weight: 600;
  transition: 0.5s ease;
  color: #2e2e2e;
}
#menu span.social-icon {
  margin: 0 0 0 1.5rem;
  padding-top: 21px;
  direction: ltr;
}
#menu span.social-icon a {
  font-size: 1.1rem;
  color: #2e2e2e;
  margin: 0 0 0 1rem;
  transition: color 0.3s ease;
}
#menu span.social-icon a:hover {
  color: #3672e4;
}
#header header {
  height: 85vh;
  margin: 100px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#header header .right {
  display: flex;
  position: relative;
}
#header header .right .gear-1 {
  position: absolute;
  top: 0.5rem;
  right: 2.2rem;
  font-size: 2.4rem;
  color: #6b6b6b;
  animation: gear-1 13s infinite linear;
}
@keyframes gear-1 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .right .gear-2 {
  position: absolute;
  top: -0.4rem;
  right: 1.4rem;
  font-size: 1.35rem;
  color: #4e4e4e;
  animation: gear-2 13s infinite linear;
}
@keyframes gear-2 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .right .sq-1 {
  position: absolute;
  top: 0;
  left: 5rem;
  width: 1.25rem;
  height: 1.25rem;
  border: 4px solid #efefef;
  font-size: 1.25rem;
  color: #3672e4;
  animation: sq-1 15s infinite linear;
}
@keyframes sq-1 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .right .sq-2 {
  position: absolute;
  bottom: -1.25rem;
  left: 8rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 4px solid #ff7373;
  font-size: 1.25rem;
  animation: sq-2 40s infinite linear;
}
@keyframes sq-2 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .right .sq-3 {
  position: absolute;
  bottom: 0;
  right: 5rem;
  width: 1.9rem;
  height: 1.9rem;
  border: 4px solid #efefef;
  font-size: 1.25rem;
  animation: sq-3 7s infinite linear;
}
@keyframes sq-3 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .left {
  margin: 0 0 0 1.2rem;
}
#header header .left h1 {
  font-size: 1.7rem;
  color: #000;
}
#header header .left p {
  color: #2e2e2e;
}

.pipe {
  width: 87rem;
  background: rgba(140, 124, 229, 0.08);
  left: -30px;
  height: 25rem;
  top: 6.2rem;
  z-index: -1;
  border-radius: 0 15.6rem 15.6rem 0;
}

.course {
  margin: 1.5rem auto 1.5rem auto;
  background-color: #fff;
  position: relative;
  border-bottom: 4px solid red;
  border-radius: 0 0 5px 5px;
  transition: box-shadow 1s ease;
  cursor: pointer;
  box-sizing: border-box;
}
.course:hover .teacher {
  top: -3.37rem;
}
.course:hover .teacher-name {
  width: 12.5rem;
  right: 3.75rem;
}
.course:hover {
  box-shadow: 0 0 13px 0 rgba(95, 95, 95, 0.5);
}
.course .status {
  position: absolute;
  font-size: 0.8rem;
  left: 0.6rem;
  top: 0.6rem;
  background: rgba(46, 125, 222, 0.5);
  color: #fff;
  padding: 2px 6px 2px 6px;
  border-radius: 2px;
}
.course .teacher {
  position: absolute;
  top: -2.1rem;
  right: 0;
  width: 3.3rem;
  z-index: -1;
  border-radius: 2rem 2rem 0 0;
  transition: all 1s ease;
}
.course .teacher-name {
  position: absolute;
  top: -1.87rem;
  right: 13px;
  font-size: 0.8rem;
  z-index: -2;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.5s ease;
}
.course .thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vh;
  height: 100vh;
}
.course img {
  margin: 0 0 2rem 0;
}
.course a {
  margin: 0.62rem 0.62rem 0.62rem 0.62rem;
  font-size: 1.1rem;
  color: #2e2e2e;
}
.course .meta {
  display: flex;
  font-size: 0.87rem;
  margin: 2rem 0.62rem 0 0.62rem;
  border-top: 1px solid #efefef;
  padding: 1rem 0 0.75rem 0;
}
.course .meta span:nth-child(1) {
  margin-left: auto;
}
.course .meta span:nth-child(1) i {
  color: #45a1ff;
  margin-left: 3px;
}
.course .meta span:nth-child(2) {
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 5px;
  color: #37b537;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.path {
  display: flex;
  justify-content: space-between;
  margin: 0 0 6.25rem 0;
}
.path .left-side .path-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.path .left-side .path-title h2 {
  font-size: 1.6rem;
  margin-bottom: 2.1rem;
  color: #2e2e2e;
}
.path .left-side .path-title p {
  font-size: 1.1rem;
  line-height: 2.6rem;
  color: #6b6b6b;
}

.topics {
  margin: 0.125rem auto 0 auto;
}
.topics .topic-title {
  font-size: 1.6rem;
  border-right: 5px solid red;
  padding-right: 1.2rem;
}
.topics .topic {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}
.topics .topic .card {
  display: flex;
  margin: 20px auto 0 auto;
  border: 1px solid #efefef;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.topics .topic .card:hover .topic-img::before {
  opacity: 0.6;
}
.topics .topic .card .topic-img {
  overflow: hidden;
  position: relative;
}
.topics .topic .card .topic-img img {
  height: 100%;
}
.topics .topic .card .topic-img::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.topics .topic .card .topic-detail {
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  position: relative;
  z-index: 1;
}
.topics .topic .card .topic-detail::before {
  content: "";
  width: 2.5rem;
  height: 105%;
  background-color: #fff;
  position: absolute;
  top: -5px;
  right: -1.687rem;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  z-index: -1;
}
.topics .topic .card .topic-detail a {
  font-size: 1.1rem;
}
.topics .topic .card .topic-detail .meta {
  font-size: 0.75rem;
  margin: 0.93rem 0 0 0;
  color: #ccc;
}
.topics .topic .card .topic-detail .meta span {
  margin: 0 0 0 1rem;
}
.topics .topic .card .topic-detail p {
  font-size: 14px;
  margin: 1.25rem 0 0 0;
  line-height: 1.87rem;
  color: #6b6b6b;
}

footer {
  padding: 5rem 0 0 0;
  background-color: #35373a;
}
footer .side-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
footer .side-1 h5 {
  color: #fff;
  margin: 0 0 2rem 0;
}
footer .side-1 ul {
  font-size: 1rem;
  margin: 0 0 2.5rem 0;
}
footer .side-1 ul li {
  margin: 0 0 1.1rem 0;
  color: #cacaca;
  transition: all 0.5s ease;
}
footer .side-1 ul li:hover a {
  color: yellow;
}
footer .side-1 ul li i {
  margin: 0 0 0 0.75rem;
}
footer .side-1 ul li a {
  color: #cacaca;
}
footer .side-1 ul li a i {
  margin: 0 0 0 0.75rem;
}
footer .side-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
footer .side-2 ul {
  font-size: 1rem;
  margin: 0 0 2.5rem 0;
}
footer .side-2 ul li {
  margin: 0 0 1.1rem 0;
}
footer .side-2 ul li a {
  color: #cacaca;
  transition: all 0.5s ease;
}
footer .side-2 ul li a:hover {
  color: yellow;
}
footer .side-3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
footer .side-3 p {
  font-weight: 600;
  margin: 0 0 1.6rem 0;
  font-size: 1rem;
  color: yellow;
  width: 100%;
  text-align: center;
}
footer .side-3 form {
  position: relative;
}
footer .side-3 form .email {
  width: 210%;
  height: 2.18rem;
  padding: 0.62rem 0.62rem 0.62rem 0.62rem;
  border: 0;
  border-radius: 4px;
  outline: 0;
}
footer .side-3 form .submit {
  position: absolute;
  top: 0;
  height: 3.43rem;
  width: 5.93rem;
  border-radius: 4px 0 0 4px;
  left: -13.3125rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  transition: 0.5s ease;
}
footer .side-3 form .submit:hover {
  background-color: yellow;
  color: #2e2e2e;
}
footer p.copy-right {
  background-color: #2b2d30;
  text-align: center;
  padding: 1.87rem 0 1.87rem 0;
  color: #cacaca;
  font-size: 0.87rem;
}